<h1>CS 640</h1>
<p>
Hi, My name is Geethu Sheludkar and my Id is 85102
I have take Web Security class and have learned quite a few interesting stuff
in it.
<ol><li>Http vs https, https is more secure bacause it uses SSL certificate</li>
<li>We can use differnt types of cipher to encrypt document</li>
<li>the portion of the trusted OS that enforces security mechanisms is security kernel</li>
<li>A vulnerability is a weakness in the security system, for example, in procedures, design, or
  implementation, that might be exploited to cause loss or harm.</li>
  <li>An interception means that some unauthorized party has gained access to an asset.</li>
</ol>
</p>
